@use "_variables" as variables;

#content {
  max-width: variables.$pageMax;
  margin-inline: auto;
  padding-inline: variables.$pagePad;  /* safe padding on small screens */
  padding-block: 10px;
  min-height: 100vh;
  box-sizing: border-box;
}

p {
  margin: 1em 0;
}
#document {
  text-align: justify;
  text-indent: 0;
  font-size: variables.$textFontSize;
  font-family: variables.$textFont;
  color: variables.$textColor;
  line-height: variables.$lineHeight;
  padding-top: 30px;
  padding-bottom: variables.$footerHeight;
}
/* Automatic figure numbering on each page */
#document #post-content {
  counter-reset: figure-counter;
}