@use "_variables" as variables;

/* Automatic figure numbering on each page */
#post-content {
  counter-reset: figure-counter;
}

header#post-header {
  font-family: variables.$titleFont, sans-serif;
  padding-bottom: 30px;
}
#post-header h1 {
  font-weight: bold;
  margin-bottom: 0;
}
#post-header h2 {
  font-weight: normal;
  margin-top: 0;
}

aside#post-info {
  display: flex;
  align-items: baseline;
  color: variables.$mainColor;
  font-weight: bold;
  font-family: variables.$titleFont, sans-serif;
  justify-content: space-between;
  padding: 10px 0px 10px;
  border-top: 1px solid variables.$mainColor;
  border-bottom: 1px solid variables.$mainColor;
}
#post-info .author {
  flex: 1 1 50%;
  font-size: 22px;
  text-align: left;
  margin-left: 10px;
}
#post-info .post-dates {
  flex: 1 1 50%;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
#post-info .posted-date {
  display: block;
  font-size: 22px;
}
#post-info .edited-date {
  display: block;
  font-size: 20px;
}