---
layout: default
---
<!--HEAD_EXTRA
<link rel="stylesheet" href="/assets/css/pages.css">
<link rel="stylesheet" href="/assets/css/media.css">
<link rel="stylesheet" href="/assets/css/tables.css">
HEAD_EXTRA-->

<div id="content">
    {% include header.html %}
    {% include navigation.html %}
    <div id="document">
        {{ content }}
    </div>
    {% include footer.html %}
</div>
<!-- MathJax 2.x config -->
<script type="text/javascript" async
    src="/assets/js/mathjax/mathjax-2-config.js">
</script>